{% extends "base.html" %} 
{% block title %}Cartelera de CINEMOVIE{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/estilo.css" />
<style>
  /* Estilo para el botón "to top" */
  #myBtn {
    display: none; /* Oculta el botón por defecto */
    position: fixed; /* Fija el botón en la esquina inferior derecha */
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Asegura que el botón esté sobre otros elementos */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color de texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 15px; /* Espacio interno */
    border-radius: 50%; /* Borde redondeado */
  }

  /* Estilo cuando se pasa el cursor sobre el botón */
  #myBtn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
  }
</style>
{% endblock %} 
{% block body %}
<div>
  <h1>Cartelera de CINEMOVIE</h1>
  <h3>Ordenadas por año de lanzamiento</h3>

  <div class="dropdown">
    <button class="dropbtn">Seleccionar Año</button>
    <div class="dropdown-content">
      {% for anio, lista_peliculas in dicc_anios|dictsort(reverse=true) %}
        <a href="#{{ anio }}" class="link-secondary">{{ anio[:4] }}</a>
      {% endfor %}
    </div>
  </div>
  <!-- Botón "to top" -->
  <button onclick="topFunction()" id="myBtn" title="Ir arriba">Top</button>
  <table class="table table-striped">
    <thead>
      <th>Año de Lanzamiento</th>
    </thead>
    <tbody>
      {% for anio, lista_peliculas in dicc_anios|dictsort(reverse=true) %}
      <tr id="{{ anio }}"> <!-- Agrega un id único para cada año -->
        <td>
          <a href="#{{ anio }}" class="link-secondary">{{ anio[:4] }}</a>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <table class="table mb-0">
            <thead>
              <th>Fecha de Estreno</th>
              <th>Título</th>
              <th>Poster</th>
            </thead>
            <tbody>
              {% for pelicula in lista_peliculas %}
              <tr>
                <td>{{ pelicula['fecha_estreno'] }}</td>
                <td>
                  <a href="/pelicula/{{ pelicula['id'] }}" class="link-secondary">
                    {{ pelicula['titulo'] }}
                  </a>
                </td>
                <td>
                  <a href="/pelicula/{{ pelicula['id'] }}" class="link-secondary">
                    <img src="{{ pelicula['url_poster'] }}" style="width: 100px" />
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  // Función para desplazarse hacia arriba
  function topFunction() {
    document.body.scrollTop = 0; // Para navegadores que no son Firefox
    document.documentElement.scrollTop = 0; // Para Firefox
  }
</script>

{% endblock %}
