{% extends "base.html" %}
{% block title %}Cartelera de CINEMOVIE{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/estilo.css">
{% endblock %}  
{% block body %}
<div id="content">
    <h1>Cartelera MoGasCine</h1>
    
    <table class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <h2>Los últimos lanzamientos</h2>
                </td>
                <td>
                    <h2>Explora todas las películas</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card" style="width: 18rem;">
                        <div style="width: 60rem;">
                            <div id="CarouselCaptions" class="carousel slide" data-bs-ride="carousel" style="width:30%;height:30%;">
                                <div class="carousel-indicators">
                                    {% for pelicula in lista %}
                                        {% if loop.index0 == 0 %}
                                            <button type="button" data-bs-target="#CarouselCaptions" data-bs-slide-to="{{ loop.index0 }}"
                                                class="active" aria-current="true" aria-labels="{{ pelicula['titulo'] }}"></button>
                                        {% else %}
                                            <button type="button" data-bs-target="#CarouselCaptions" data-bs-slide-to="{{ loop.index0 }}"
                                                aria-labels="{{ pelicula['titulo'] }}"></button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {% for pelicula in lista %}
                                        {% if loop.index == 1 %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                                <img src="{{ pelicula['url_poster'] }}" style="width: 350px; height: auto;">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <a href="/pelicula/{{ pelicula['id'] }}" class="link-secondary">
                                                        <h5>{{ pelicula['titulo'] }}</h5>
                                                    </a>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#CarouselCaptions"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#CarouselCaptions"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="card">
                        <img src="example.jpg" alt="Imagen" style="width:100%">
                        <div class="container">
                          <h4><b>Título de la tarjeta</b></h4> 
                          <p>Texto de ejemplo para el contenido de la tarjeta.</p> 
                        </div>
                      </div>
                </td>
                
            </tr>
            <tr>
                <td>
                  
                </td>
              </tr>
        </tbody>
    </table>
</div>
{% endblock %}
