{% extends "base.html" %}
{% block title %} {{ movie['titulo']}} {% endblock %}
{% block head %}
{% endblock %}
{% block body %}

<div>
    <table class="table table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td colspan="1">
                    <table class="table mb-0">
                        <thead>
                            <th>Fecha de Estreno</th>
                            <th>Titulo</th>
                            <th>Poster</th>
                        </thead>
                        
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}