@import url('htpps://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}



html, body {
    min-height: 100%;
    overflow-y: auto; 
    position: relative;
    background-color: #C0CEE3;
    color: #ecf0f1;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

body {
    padding-bottom: 70px; /* Ajusta este valor basado en la altura real de tu footer */
}

/* ESTILOS PARA LA NAVBAR */

li, a, button {
    
    font-weight: 900;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    width:100%;
    background-color: #1B3485;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    z-index: 99;
}

.logo {
    padding-top: 0% !important;
    height: 70px;
    cursor: pointer;
    margin-right: 100px;
}

.nav_links {
    list-style: none;
    
}

.nav_links li {
    
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #E1B640;
}

.search-box form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-box {
    padding-left: 100px;
    position: relative;
    width: 80%;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #C0CEE3;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}

.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
    background-color: rgba(225, 182, 64, 1);
    color: #fff;
}


.search-box button:hover{
    background-color: rgba(225, 182, 64, 0.8);
}

header .search-box{
    width: 80%;
    margin-left: 100px;
    flex: 1;
    position: relative;
}

@media (max-width: 1000px) {
    .search-box button {
        position: absolute;
    }
    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
}

.nav_links a.active {
    color: #E1B640;
}

.nav_links a.active:hover {
    color: #ecf0f1;
}


/* ESTILOS PARA EL FOOTER */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1B3485;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    flex-shrink: 0;
}


.logo-personal {
    height: 55px; /* Asegura uSna altura constante */
    cursor: pointer;
    margin-bottom: 0px; /* Espacio entre el logo y el texto */
}

.foot-cont {
    margin-top: 0% !important;
    color: #ecf0f1;
}

.footer a, .footer a:visited {
    font-weight: 500;
    color: #E1B640;  /* Color base para enlaces en el footer */
    text-decoration: none;  /* Sin subrayado */
    transition: 0.5s;
}

.footer a:hover {
    color: #ecf0f1;  /* Color cuando se pasa el mouse sobre el enlace */
}