{% extends "base.html" %}
{% block title %}Explorar - {{ letra }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
<div class="dropdown">
    <div class="menu open" id="menu">
        <h4>Selecciona por orden</h4>
        {% for letra, revistas in dicc_alfabeto.items() %}
            <a href="/explorar/{{ letra }}" class="link-secondary">{{ letra }}</a> <br />
        {% endfor %}
    </div>
</div>

<h1 style="padding-left: 200px;">Comenzando con '{{ letra }}'</h1>

<div  style="padding-left:160px;">
    <span style="padding-left: 50px;" class="pagina-actual">Página {{ page }} de {{ total_pages }}</span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><h2>TÍTULO</h2></th>
                <th><h2>TIPO</h2></th>
                <th><h2>SJR (Cuartil)</h2></th>
                <th><h2>H-INDEX</h2></th>
            </tr>
        </thead>
        <tbody>
            {% for revista in lista_revistas %}
            <tr>
                <td>
                    <a class="link-revista" href="/revista/{{ revista['Titulo'] | urlencode }}" class="link-secondary">
                        {{ revista['Titulo'] }}
                    </a>
                </td>
                <td>{{ revista['Type'] }}</td>
                <td>{{ revista['SJR (Cuartil)'] }}</td>
                <td>{{ revista['H_Index'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <span style="padding-left: 50px;" class="pagina-actual">Página {{ page }} de {{ total_pages }}</span>

    <!-- Botones de paginación -->
    <div class="botones">
        {% if page > 1 %}
        <button class="link-page">
            <a href="{{ url_for('solo_letra', letra=letra, page=page-1) }}">Anterior ({{ page - 1 }})</a>
        </button>
        {% endif %}
        {% if page < total_pages %}
        <button class="link-page">
            <a href="{{ url_for('solo_letra', letra=letra, page=page+1) }}">Siguiente ({{ page + 1 }})</a>
        </button>

        {% endif %}
        <a class="toTop" href="#top" id="floatingBtn" title="Go to top">To Top</a>
    </div>
</div>

<script src="/static/scripts.js"></script>
{% endblock %}
