{% extends "base.html" %}
{% block title %}ACERCA DE{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
    <h1>Información del Proyecto</h1>


    <div class="equipo">
        <img src="/static/images/02_about.jpg" alt="">
        <h2>Nuestro Equipo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Inventore nam dolorum recusandae maiores minima veritatis, 
                minus aliquam reprehenderit voluptatem earum quae tempore 
                doloremque aut repellat architecto ex assumenda excepturi 
                corrupti?</p>

    </div>
    
    <h2>Tecnologías</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro. Nam, deleniti natus molestiae voluptatum labore deserunt accusantium sed cum animi eos. Similique voluptatem doloremque temporibus quam qui culpa nam?
    </p>
{% endblock %}
