{% extends "base.html" %}
{% block title %}ACERCA DE{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
    <h1>Información del Proyecto</h1>


    <div class="equipo">
        <img src="/static/images/02_about.jpg" alt="">
        <div class="equipo-content">
            <h2>Nuestro Equipo</h2>
            <p>
                José Antonio Montaño Gastélum es actualmente un estudiante de Ingeniería en 
                Sistemas de Información en la Universidad de Sonora, con una fuerte pasión por 
                el desarrollo web y las tecnologías emergentes. Desde temprana edad, José mostró 
                un gran interés en la informática y la tecnología, lo que lo llevó a participar 
                en varios talleres y eventos de tecnología durante su educación secundaria.
            </p>
            <p>
                Durante su tiempo en la universidad, ha desarrollado habilidades en una variedad 
                de lenguajes de programación incluyendo HTML, Python, y CSS. Además, ha 
                trabajado en proyectos que utilizan frameworks y tecnologías modernas como Flask, 
                Reflex, lo que le ha permitido construir aplicaciones web dinámicas y responsivas.
            </p>
            
                Además de su vida académica y profesional, a José le gusta dedicar tiempo a aprender 
                sobre nuevas tendencias en el campo de la tecnología y leer blogs de tecnología. Está particularmente interesado en el área 
                de desarrollo de software sostenible y en encontrar maneras en que la tecnología pueda 
                ser utilizada para mejorar el medio ambiente.
            </p>
            
        </div>
        

    </div>
    <div class="tecnologias">
        <h2>Tecnologías</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Numquam, porro. Nam, deleniti natus molestiae voluptatum 
                labore deserunt accusantium sed cum animi eos. Similique 
                voluptatem doloremque temporibus quam qui culpa nam?
            </p>
    </div>
    
{% endblock %}
