{% extends "base.html" %}
{% block title %}ACERCA DE{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
    <h1>Información del Proyecto</h1>


    <div class="equipo">
        <img src="/static/images/02_about.jpg" alt="">
        <div class="equipo-content">
            <h2>Nuestro Equipo</h2>
            <p>
                José Antonio Montaño Gastélum es actualmente un estudiante de Ingeniería en Sistemas de Información en la Universidad de Sonora, con una fuerte pasión por el desarrollo web y las tecnologías emergentes. Desde temprana edad, José mostró un gran interés en la informática y la tecnología, lo que lo llevó a participar en varios talleres y eventos de tecnología durante su educación secundaria.
            </p>
            <p>
                Durante su tiempo en la universidad, ha desarrollado habilidades en una variedad de lenguajes de programación incluyendo JavaScript, Python, y PHP. Además, ha trabajado en proyectos que utilizan frameworks y tecnologías modernas como React, Node.js, y Django, lo que le ha permitido construir aplicaciones web dinámicas y responsivas.
            </p>
            <p>
                José también ha participado en hackathons y competencias de codificación, donde ha ganado premios por sus soluciones innovadoras y efectivas a problemas complejos. Estas experiencias no solo han reforzado su habilidad técnica, sino que también han mejorado sus capacidades de trabajo en equipo y liderazgo.
            </p>
            <p>
                Además de su vida académica y profesional, a José le gusta dedicar tiempo a aprender sobre nuevas tendencias en el campo de la tecnología, leer blogs de tecnología, y contribuir a proyectos de código abierto. Está particularmente interesado en el área de desarrollo de software sostenible y en encontrar maneras en que la tecnología pueda ser utilizada para mejorar el medio ambiente.
            </p>
            <p>
                José aspira a convertirse en un líder en el campo del desarrollo de software, no sólo avanzando en su conocimiento técnico, sino también inspirando a futuras generaciones de desarrolladores a innovar con responsabilidad y ética. Está comprometido con el aprendizaje continuo y está siempre en busca de nuevas oportunidades para crecer profesionalmente.
            </p>
        </div>
        

    </div>
    <div class="tecnologias">
        <h2>Tecnologías</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Numquam, porro. Nam, deleniti natus molestiae voluptatum 
                labore deserunt accusantium sed cum animi eos. Similique 
                voluptatem doloremque temporibus quam qui culpa nam?
            </p>
    </div>
    
{% endblock %}
