{% extends "base.html" %}
{% block title %}ACERCA DE{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
    <h1>Información del Proyecto</h1>


    <div class="equipo">
        <img src="/static/images/02_about.jpg" alt="">
        <div class="equipo-content">
            <h2>Nuestro Equipo</h2>
            <p>
                José Antonio Montaño Gastélum es actualmente un estudiante de Ingeniería en 
                Sistemas de Información en la Universidad de Sonora, con una fuerte pasión por 
                el desarrollo web y las tecnologías emergentes. Desde temprana edad, José mostró 
                un gran interés en la informática y la tecnología, lo que lo llevó a participar 
                en varios talleres y eventos de tecnología durante su educación secundaria.
            </p>
            <p>
                Durante su tiempo en la universidad, ha desarrollado habilidades en una variedad 
                de lenguajes de programación incluyendo HTML, Python, y CSS. Además, ha 
                trabajado en proyectos que utilizan frameworks y tecnologías modernas como Flask, 
                Reflex, lo que le ha permitido construir aplicaciones web dinámicas y responsivas.
            </p>
        </div>
    </div>
    <div class="tecnologias">
        <h2>Tecnologías Utilizadas</h2>
        <p>
            Este proyecto ha sido desarrollado utilizando una variedad de tecnologías y herramientas modernas para asegurar eficiencia y funcionalidad óptima...
        </p>
        <p>
            La estética del sitio se ha cuidado meticulosamente utilizando la fuente <strong>Montserrat 500</strong>... La paleta de colores seleccionada incluye <span class="color-sample" style="background-color: #1B3485;"></span> <strong>#1B3485</strong> para la barra de navegación y el pie de página, <span class="color-sample" style="background-color: #ecf0f1;"></span> <strong>#ecf0f1</strong> para el texto de la barra de navegación, y <span class="color-sample" style="background-color: #E1B640;"></span> <strong>#E1B640</strong> como color de realce para los enlaces al pasar el cursor.
        </p>
        <p>
            Finalmente, se ha integrado el logotipo personal del desarrollador...
        </p>
    </div>
    
    
    
{% endblock %}
