{% extends "base.html" %}
{% block title %}Cartelera de CINEMOVIE{% endblock title %}
{% block head %}
{{ super }}
{% endblock head %}
{% block body %}
<div>
    <h1>Cartelera de CINEMOVIE</h1>
    <h2>Las próximas peliculas a ver</h2>
    <div id="CarouselCaptions" class="carousel slide" data-bs-ride="carousel">
        {% for pelicula in lista %}
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#CarouselCaptions" data-bs-slide-to="{{loop.index}}" 
            class="active" aria-current="true" aria-labels="{{pelicula['titulo']}}"></button>
            <>
            <a href="/pelicula/{{pelicula['id']}}" class="titulo">
                <img src="{{pelicula['url_poster']}}" width="150">
                {{pelicula['titulo']}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
